<nav>
    <div>
        <h2>Dashboard</h2>
        <a href="/logout">Logout</a>
    </div>
</nav>
<div class="side-dash-wrapper">
    <div class="side-dash">
        <div class="side-dash-header">
            <h3>Company</h3>
            <hr>
        </div>
        <div class="side-dash-body">
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Icons</a></li>
                <li><a href="">Maps</a></li>
                <li><a href="">Notifications</a></li>
            </ul>
        </div>    
    </div>
</div>
<div class="main-board">
    <div class="container-fluid">
        <div class="row">
            <div class="top-graph col-12 graph">
                <div class="graph-container">
                    {{!-- <h2>Top graph</h2>
                    <hr> --}}
                    <canvas id="canvas"></canvas>
                    {{!-- <select id="mySelect" onchange="myFunction()">
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>
                    <select id="mySelect1" onchange="myFunction()">
                        <option value="import">import</option>
                        <option value="export">export</option>
                    </select> --}}
                    <div class="years">
                        <button id='2015' value='2015' onclick="hideData(this.value)">2015</button>
                        <button id='2016' value='2016' onclick="hideData(this.value)">2016</button>
                        <button id='2017' value='2017' onclick="hideData(this.value)">2017</button>
                        <button id='2018' value='2018' onclick="hideData(this.value)">2018</button>
                        <button id='2019' value='2019' onclick="hideData(this.value)">2019</button>
                    </div>
                    <div class="types">
                        <button id='import' value='import' onclick="toggleType(this.value)">import</button>
                        <button id='export' value='export' onclick="toggleType(this.value)">export</button>
                    </div>
                    {{!-- <p id="demo"></p>
                    <button id="randomizeData">Randomize Data</button>
	                <button id="addDataset">Add Dataset</button>
	                <button id="removeDataset">Remove Dataset</button>
	                <button id="addData">Add Data</button>
	                <button id="removeData">Remove Data</button> --}}
                </div>
            </div>
            {{!-- <div class="middle-graph graph-center col-6 graph">
                <div>
                    <h2>Middle centre</h2>
                    <hr>
                    <canvas id="canvas2"></canvas>
                    <button id="randomizeData2">Randomize Data</button>
                    <button id="addDataset2">Add Dataset</button>
                    <button id="removeDataset2">Remove Dataset</button>
                    <button id="addData2">Add Data</button>
                    <button id="removeData2">Remove Data</button>
                    <button id="changeCircleSize2">Semi/Full Circle</button>
                </div>
            </div>
            <div class="middle-graph graph-right col-6 graph">
                <div>
                    <h2>Middle right</h2>
                    <hr>
                    <canvas id="chart-area"></canvas>
                    <button id="randomizeData3">Randomize Data</button>
                    <button id="addDataset3">Add Dataset</button>
                    <button id="removeDataset3">Remove Dataset</button>
                </div>
                
            </div>
            <div class="bottom-graph col-12 graph">
                <div>
                    <h2>Bottom graph</h2>
                    <hr>
                    <canvas id="canvas1"></canvas>
                    <button id="randomizeData1">Randomize Data</button>
                    <button id="addDataset1">Add Dataset</button>
                    <button id="removeDataset1">Remove Dataset</button>
                    <button id="addData1">Add Data</button>
                    <button id="removeData1">Remove Data</button>
                </div>
            </div> --}}
        </div>
    </div>
</div>
