<nav>
    <div>
        <h2>Datasmart analytics</h2>
        <div class="dropdown">
            <img src="/img/user.svg" alt=""><span>Lehann Cronje</span>
            <div class="content">
                <a href="/logout">View Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="side-dash-wrapper">
    <div class="side-dash">
        <div class="side-dash-header">
            <h3>Subaru</h3>
            <hr>
        </div>
        <div class="side-dash-body">
            <ul>
                <li><a href="">Home</a>
                    <ul class="child-menu">
                        <li><a href="">Basic View</a></li>
                        <li><a href="">Deferment account</a></li>
                        <li><a href="">Bonded WH</a></li>
                        <li><a href="">Rebates and optimisation</a></li>
                        <li><a href="">Indirect Import Tax Recons</a></li>
                        <li><a href="">Advanced Benchmarking</a></li>
                        <li><a href="">Transfer Pricing errors</a></li>
                    </ul>
                </li>
                <li><a href="">Reproting</a>
                    <ul class="child-menu">
                        <li><a href="">TBD</a></li>
                    </ul>
                </li>
            </ul>
        </div>    
    </div>
</div>
<div class="info-top">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="data-info col-2 ml-auto">
                <h5>Reference data</h5>
                <p>25%</p>
            </div>
            <div class="data-info center-pill col-2">
                <h5>Reference data</h5>
                <p>25%</p>
            </div>
            <div class="data-info col-2 mr-auto">
                <h5>Reference data</h5>
                <p>25%</p>
            </div>
        </div>
    </div>
</div>
<div class="main-board">
    <div class="container-fluid">
        <div class="row">
            <div class="top-graph col-12 graph">
                <div id="container-bar" class="graph-container">
                    <canvas id="canvas"></canvas>
                    <div class="dropdown">
                        <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Years
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='2015' value='2015' onclick="hideData(this.value)">2015</button>
                            <button id='2016' value='2016' onclick="hideData(this.value)">2016</button>
                            <button id='2017' value='2017' onclick="hideData(this.value)">2017</button>
                            <button id='2018' value='2018' onclick="hideData(this.value)">2018</button>
                            <button id='2019' value='2019' onclick="hideData(this.value)">2019</button>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='import' value='import' onclick="toggleType(this.value)">import</button>
                            <button id='export' value='export' onclick="toggleType(this.value)">export</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="middle-graph col-lg-6 col-xl-5 graph mr-auto">
                <div id="container-donut" class="graph-container">
                    <canvas id="canvas2"></canvas>
                    <div class="dropdown">
                        <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Years
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='2015' value='2015' onclick="hideData(this.value)">2015</button>
                            <button id='2016' value='2016' onclick="hideData(this.value)">2016</button>
                            <button id='2017' value='2017' onclick="hideData(this.value)">2017</button>
                            <button id='2018' value='2018' onclick="hideData(this.value)">2018</button>
                            <button id='2019' value='2019' onclick="hideData(this.value)">2019</button>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='import' value='import' onclick="toggleType(this.value)">import</button>
                            <button id='export' value='export' onclick="toggleType(this.value)">export</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-graph col-lg-6 col-xl-5 graph">
                <div id="container-donut1" class="graph-container">
                    <canvas id="canvas3"></canvas>
                    <div class="dropdown">
                        <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Years
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='2015' value='2015' onclick="hideData(this.value)">2015</button>
                            <button id='2016' value='2016' onclick="hideData(this.value)">2016</button>
                            <button id='2017' value='2017' onclick="hideData(this.value)">2017</button>
                            <button id='2018' value='2018' onclick="hideData(this.value)">2018</button>
                            <button id='2019' value='2019' onclick="hideData(this.value)">2019</button>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='import' value='Imports' onclick="toggleType(this.value)">import</button>
                            <button id='export' value='Exports' onclick="toggleType(this.value)">export</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-graph col-12 graph ml-auto">
                <div id="container-bar1" class="graph-container">
                    <canvas id="canvas4"></canvas>
                    <div class="dropdown">
                        <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Years
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='2015' value='2015' onclick="hideData(this.value)">2015</button>
                            <button id='2016' value='2016' onclick="hideData(this.value)">2016</button>
                            <button id='2017' value='2017' onclick="hideData(this.value)">2017</button>
                            <button id='2018' value='2018' onclick="hideData(this.value)">2018</button>
                            <button id='2019' value='2019' onclick="hideData(this.value)">2019</button>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Types
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button id='import' value='import' onclick="toggleType(this.value)">import</button>
                            <button id='export' value='export' onclick="toggleType(this.value)">export</button>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="middle-graph graph-center col-6 graph">
                <div>
                    <h2>Middle centre</h2>
                    <hr>
                    <canvas id="canvas2"></canvas>
                    <button id="randomizeData2">Randomize Data</button>
                    <button id="addDataset2">Add Dataset</button>
                    <button id="removeDataset2">Remove Dataset</button>
                    <button id="addData2">Add Data</button>
                    <button id="removeData2">Remove Data</button>
                    <button id="changeCircleSize2">Semi/Full Circle</button>
                </div>
            </div>
            <div class="middle-graph graph-right col-6 graph">
                <div>
                    <h2>Middle right</h2>
                    <hr>
                    <canvas id="chart-area"></canvas>
                    <button id="randomizeData3">Randomize Data</button>
                    <button id="addDataset3">Add Dataset</button>
                    <button id="removeDataset3">Remove Dataset</button>
                </div>
                
            </div>
            <div class="bottom-graph col-12 graph">
                <div>
                    <h2>Bottom graph</h2>
                    <hr>
                    <canvas id="canvas1"></canvas>
                    <button id="randomizeData1">Randomize Data</button>
                    <button id="addDataset1">Add Dataset</button>
                    <button id="removeDataset1">Remove Dataset</button>
                    <button id="addData1">Add Data</button>
                    <button id="removeData1">Remove Data</button>
                </div>
            </div> --}}
        </div>
    </div>
</div>
